.tabela{
    text-align: center;
    border-width: 0.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: solid;
    border-color: rgb(85, 85, 85);
    padding: 5px;
    border-collapse:collapse;
}
/*
.div{
    margin-left: auto;
    margin-right: auto;border-bottom: solid;
    border-color: brown;
}
 */
