<div class="div">
  <table class="tabela">
    <thead class="tabela">
      <th class="tabela">Data</th>
      <th class="tabela">RG Eleitor</th>
      <th class="tabela">Cód/Nome Candidato</th>
    </thead>

    <tbody class="tabela">
      <tr *ngFor="let voto of votos" >
        <td class="tabela">{{voto?.data | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
        <td class="tabela">{{voto?.rg}}</td>
        <td class="tabela">{{voto?.candidato}}</td>
      </tr>

    </tbody>
  </table>

</div>
<!--
<div class="div" *ngFor="let voto of votos">
    <p>Data : {{voto?.data | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
    <p>RG  Eleitor: {{voto?.rg}}</p>
    <p>Candidato: {{voto?.candidato}}</p>
  </div> -->
