<div class="container">
    <form class="formulario" (ngSubmit)="votar()">
        <h1 class="formulario__titulo">URNA ELETRÔNICA</h1>

        <div class="form-field">
            <label for="idRg" class="form-field__label">RG Eleitor:</label>
            <input type="text" name="nmRg" id="idRg" [(ngModel)]="rgEleitor" class="form-field__input"> 
        </div>

        <div class="form-field">
            <label for="idCandidato" class="form-field__label">Selecione o candidato:</label>
            <input list="candidatos" name="nmCandidato" id="idCandidato" [(ngModel)]="candidato" class="form-field__input">
                <datalist id="candidatos">
                <option value="1234 - Candidato 1"></option>
                <option value="4321 - Candidato 2"></option>
                <option value="2134 - Candidato 3"></option>
                <option value="3214 - Candidato 4"></option>
                <option value="3124 - Candidato 5"></option>

            </datalist> 
        </div>

        <div class="botao-wrapper">
            <button type="button" id="idBtnBranco" class="botao--branco">BRANCO</button>
            <button type="reset" id="idBtnCanc" class="botao--corrige">CORRIGE</button>
            <button type="submit" id="idbtnConf" class="botao--confirmar">CONFIRMAR</button>
        </div>

    </form>
</div>