/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #000000;
    --secondary: #0ccf57;
    --third: #cf0c0c;
    --fourth: #f8f8f8;
    --padding: 15px;
    --cinza: #405040;
    --cinza-claro: #dedede;
  
  }
  
  * {
    font-family: "Roboto", sans-serif;
  }
  
  .container{
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
  }